
button {
  white-space: normal;
  display: inline-flex;
  overflow: hidden;
  vertical-align: top;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 0px 15px;
  transition: color 0.2s linear 0s, border-bottom-color 0.2s linear 0s;
  height: 40px;
  line-height: 12px;
  cursor: pointer;
  background: transparent;
  border-width: 3px 0px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  font-weight: bold;
  font-size: 13px;
  color: var(--ion-color-medium);
}

:host([active]) button {
  border-color: transparent transparent var(--ion-color-primary);
  color: var(--ion-color-primary);
}
