
/* Tree: Branch Header
 * -------------------------------------------------- */

.tree__branch-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--ion-color-light);
  font-size: var(--ion-font-sm);
  padding: 2px 0;
}

.tree__branch-header-inner {
  display: flex;
  align-items: center;
}

.tree-branch-header-inner > * {
  margin-left: 8px;
}

/* Tree: Inspect Button
 * -------------------------------------------------- */

.tree__inspect-btn {
  appearance: none;
  color: var(--ion-color-primary);
  font-weight: 500;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: var(--ion-font-sm);
}

/* Tree: Misc
 * -------------------------------------------------- */

ul {
  padding-inline-start: 20px;
}
